
body {
  background-color: #fafafa;
  display: block;
  margin: 10px;
  box-sizing: border-box;
  float: center;
}

.wrapper {
  width:885px;
  height:816px;
  overflow-y: hidden;
  padding-top:30px;
  flex: auto;
  padding-left: 15%;
  align:center;
  display: inline-block;
}

.leftcol {
  display: inline-block;
  width:350px;
  height:804px;
  box-sizing:border-box;
  position: relative;
  float: left;
  padding-left: 14%;
  padding-top:10%;
}

.rightcol {
  display: inline-block;
  width:350px;
  height:680px;
  padding-bottom: 20px;
  margin-right:;
  float:right;
  box-sizing:border-box;
  position: relative;
  background-color: white;
  border: 1px solid lightgrey;
}
