
.mc {
  display: inline-block;
}

.w100 {
  width: 82%;
  padding:4px 0px 0px 4px;
  margin:1% 0;
  line-height: 24px;
  cursor:text;
  background: rgb(250, 250, 250);
  border: 1px solid rgb(250,250,249);
  border-width: thin;
  padding:7px 2px;
  font-size: 12px;
  padding-left: 10px;
}

.fb {
  background-color:#3897f0;
  color:white;
  margin-bottom: 5%;
  font-weight: bolder;
  padding: 1% 0;
}

.pad {
  padding-top: 8%;
}

.mp {
  border: lightgrey;
  border-style: solid;
  border-width: thin;
  padding: 8% 0;
  margin-bottom:2%;
}

.sp {
  border:lightgrey;
  border:thin solid lightgrey;
  padding:8% 0 4% 0;
}

#phones {
  padding: 100% 0 0 10%;
}

.ftr {
  padding:8% 0;
  text-align: justify;
}

.gta {
  padding-bottom: 2%;
}

.footer {
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.mr {
  align-items: center;
  width:100%;
}

#carousel img {
  width:240px;
  height:427px;
  perspective-origin: top;
  display: inline-block;
}

@media screen and (max-width:900px) {
  .phoneban {
    display: none;
  }

}
